 .container-catalogo{
    display: flex;
    flex-direction: column;
    padding: 30px 60px 60px 60px;
    
 }

 .container-catalogo h1 {
   color: var(--primary-1);
 }




 .products-catalogo { 
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
   justify-content: start;
   gap: 20px;
   overflow: hidden;
}

.catalogo-imagem{
    width: 100px;
    border-radius: 5px;
}

.price {
   margin-top: 5px;
   margin-bottom: 5px;
   font-weight: bold;
}

.imagem-div{
   display: flex;
   align-items: center;
   justify-content: center;
}

.item-card{
   
   margin-top: 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
   border: 1px solid #ddd;
   border-radius: 5px;

   min-width: 180px;
   padding: 15px;
   
   transition: transform 0.3s; 
}

.item-card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.name-product {
   width: 120px;
}

.product-card h3 { 
    margin-top: 0; 
}