:root {


    --neutral-100: white;
    --neutral-200: #fbfcff;
    --neutral-300: #e4e7ec;
    --neutral-400: #d0d8e7;
    --neutral-500: #969daa;
    --neutral-600: #656b89;
    --neutral-700: #26395c;

    
    --dark-100: #e2e2e2;
    --dark-200: #939393;
    --dark-300: #1d1d1d;
    --dark-400: #121212;

  
  --primary-1: #0677f9;
  --primary-3: #153163;
  --secondary-1: #f5faff;
}


body.dark{
    background-color: var(--dark-400);
}

body.dark h1,h3, label, td,th, ul, li{
    color: var(--dark-100);
}

body.dark .container{
    background-color: var(--dark-300);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}

body.dark footer{
    background-color: var(--dark-300);
}

body.dark .icone-theme{
    fill: var(--dark-100);
}
body.dark .product-card {
    border: 1px solid rgba(255, 255, 255, 0.05);
}

body.dark .product-card:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

body.dark .product-image{
    border: 1px solid rgba(255, 255, 255, 0.05);
}




body {
    background-color: var(--neutral-100);

}

body.transition-theme {
  transition: .5s;
}





h1,h2,h3, p, label, td,th, ul, li {
    color: var(--neutral-700);
}

*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    text-decoration: none;
}

.flex {
    display: flex;
}

.text-product{
    color: var(--neutral-100);
}



.container { 
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.headerClass { 
    display: flex; 
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px 10px 0px; 
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

 }



 .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    margin-left: 10%; 
    margin-right: 10%;

 }



.items-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.info-container{
    display: flex;
    
}


.total {
    margin-top: 20px;
    text-align: right;
}

.name-sp{
    margin-left: 10px;
}



 .image-main {
    display: flex;
    justify-content: space-between;
    gap: 270px;
    align-items: center;
 }

.image-main h1 {
    color: var(--neutral-700);
}

 .page-image {
    height: 475px;
    width: 475px;
    border-radius: 50%;
    object-fit: cover;
 }

 .text-logo{
    font-size: 22px;
    font-weight: bold;
 }


.icone {
    width: 44px;
    height: auto;
    display: block;
    fill: var(--primary-1);
}



.icone-container {
    display: flex;
    align-items: center;
    
}

.product-list { 
    display: flex; 
    gap: 14px;
    overflow: hidden;
    padding-top: 5px;
}


.user-image{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.produto-image {
    border-radius: 5px;

    width: 180px;
    
}

.cart-icon{
    width: 18px;
    filter: invert(1);
}



.about{
    box-sizing: border-box;
    text-align: left;
    padding: 60px;
}

.about h1 {
    font-size: 44px;
    margin-bottom: 20px;
    
}

.about-text{
    display: flex;
    gap: 250px;
    justify-content: space-between;
    
    
}

.about-text h1 {
    color:  var(--neutral-700);
}

.about-text p {
    color: var(--neutral-700);
    font-size: 22px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px;
    color: var(--neutral-100);
    background-color: var(--primary-1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.footer-header{
    display: flex;
    width: 100%;
    padding: 10px;
    color: var(--neutral-100);
    min-height: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-3);
}

.icone-footer{
    filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(6518%) hue-rotate(355deg) brightness(102%) contrast(104%);;
    
}

.footer-icones{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.link-footer{
    color: var(--neutral-100);
    margin-right: 20px;
    text-decoration: none;
}

.link-footer:hover{
    text-decoration: underline;
}

#dev {
    color: var(--neutral-400);
    margin-left: 5px;
}

select { 
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ddd; 
    border-radius: 3px; 
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;

    padding: 10px;
    transition: transform 0.3s; 
}
.product-card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}



.product-info{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.name-product{
    color: grey;
}

.product-card h3 { 
    margin-top: 0; 
}
.product-card .price { 
    font-weight: bold; 
    color: var(--neutral-700); 
    font-size: 18px; 
    margin: 10px 0; 
}

.btn { 
    color: var(--primary-1); 
    border: none;
    height: 32px;
    padding: 8px 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px; 
    cursor: pointer; 
    text-decoration: none; 
    border-radius: 20px;
    display: inline-block;
}

.btn:hover, .ativo { 
    background: var(--primary-1);
    color: var(--neutral-100);
 }





span {
    color: var(--primary-1);
}

.pd{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 15px;
}
.login-buttons { 
    display: flex; gap: 10px; 
}




.header-icon{
    width: 22px;
    height: auto;
    display: block;
    color: var(--primary-1);
    
    
}

.btn-carrinho { 
    color: var(--primary-1); 
    margin-right: 5px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 8px 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer; 
    text-decoration: none; 
}



.btn-carrinho:hover .cart-container{
    color: var(--neutral-200);
    text-decoration: underline;
}

.cart-container {
  position: relative; /* referência para o absolute do .cart-quantity */
  display: inline-block;
}


.cart-quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}





.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
}

.popup-sucess{
    background-color: #29b971;
}
.popup-fail{
    background-color: #b9294d;
}

.popup.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

.header-options{
    margin-left: 10px;
}




.icone-theme {
    width: 32px;
    height: auto;
    display: block;
    cursor: pointer;
    
}


body.dark .about-text p{
    color: var(--dark-100);
}
body.dark .about-text h1{
    color: var(--primary-1);
}

body.dark .product-info p{
    color: var(--dark-200);
}

body.dark .product-info h3{
    color: var(--dark-100);
}

body.dark .product-info .price{
    color: var(--dark-100);
}

body.dark .product-info .text-product{
    color: var(--dark-100);
}

body.dark .sugest h2{
    color: var(--primary-1);
}

body.dark .prod-desc p{
    color: var(--dark-100);
}
